{% extends '::base.html.twig' %}

{% block title %}Product{% endblock %}

{% block stylesheets %}
    <style>
    *{
        color:red;
    }
    </style>
{% endblock %}

{% block body %}
    <h1>Producten pagina</h1>
{% endblock %}

{% block javasripts  %}
{% endblock %}